<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <section id="name-alias" class="flex-horizontal">

    <div class="grow-two">
      <div id="name">
        <label for="character-name">Name</label>
        <input type="text" id="character-name" name="name" value="{{actor.name}}">
      </div>

      <div id="character-traits" class="flex-column">

      </div>
    </div>

    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

    <div class="grow-two">
      <div id="alias">
        <label for="character-alias">Call Sign</label>
        <input type="text" id="character-alias" name="data.callsign" value="{{data.callsign}}">
      </div>
    </div>

  </section>

  {{!-- Experience --}}
  <section class="experience">
  </section>
  {{!-- Stress and Trauma --}}
  <div id="stress-trauma" class="section big-teeth-section">
    <div id="character-stress" class="big-teeth">
      {{#multiboxes data.stress}}
      <input type="radio" id="character-stress-0" name="data.stress" value="0" dtype="Radio">
      <label class="black-label" for="character-stress-0">Stress</label>
      <input type="radio" id="character-stress-1" name="data.stress" value="1" dtype="Radio">
      <label for="character-stress-1"></label>
      <input type="radio" id="character-stress-2" name="data.stress" value="2" dtype="Radio">
      <label for="character-stress-2"></label>
      <input type="radio" id="character-stress-3" name="data.stress" value="3" dtype="Radio">
      <label for="character-stress-3"></label>
      <input type="radio" id="character-stress-4" name="data.stress" value="4" dtype="Radio">
      <label for="character-stress-4"></label>
      <input type="radio" id="character-stress-5" name="data.stress" value="5" dtype="Radio">
      <label for="character-stress-5"></label>
      <input type="radio" id="character-stress-6" name="data.stress" value="6" dtype="Radio">
      <label for="character-stress-6"></label>
      <input type="radio" id="character-stress-7" name="data.stress" value="7" dtype="Radio">
      <label for="character-stress-7"></label>
      <input type="radio" id="character-stress-8" name="data.stress" value="8" dtype="Radio">
      <label for="character-stress-8"></label>
      <input type="radio" id="character-stress-9" name="data.stress" value="9" dtype="Radio">
      <label for="character-stress-9"></label>
      {{/multiboxes}}

    </div>
    <div id="character-trauma-container" class="small-teeth-container">
      {{#traumacounter data.scars}}
      <div id="character-trauma" class="small-teeth-wrap">
        <label class="black-label" for="character-trauma-counter-0">Trauma</label>
        <div id="trauma-teeth" class="small-teeth">
          <input type="radio" id="character-trauma-counter-0" name="trauma-counter" value="0">
          <input type="radio" id="character-trauma-counter-1" name="trauma-counter" value="1">
          <label for="character-trauma-counter-1"></label>
          <input type="radio" id="character-trauma-counter-2" name="trauma-counter" value="2">
          <label for="character-trauma-counter-2"></label>
          <input type="radio" id="character-trauma-counter-3" name="trauma-counter" value="3">
          <label for="character-trauma-counter-3"></label>
          <input type="radio" id="character-trauma-counter-4" name="trauma-counter" value="4">
          <label for="character-trauma-counter-4"></label>
        </div>
      </div>
      {{/traumacounter}}
    </div>

    <div id="trauma-list">
      {{#multiboxes data.scars}}
      <label>
        <input type="checkbox" name="data.scars" value="cold">
        <span class="checkmark">cold</span>
      </label>
      <label>
        <input type="checkbox" name="data.scars" value="haunted">
        <span class="checkmark">haunted</span>
      </label>
      <label>
        <input type="checkbox" name="data.scars" value="obsessed">
        <span class="checkmark">obsessed</span>
      </label>
      <label>
        <input type="checkbox" name="data.scars" value="paranoid">
        <span class="checkmark">paranoid</span>
      </label>
      <label>
        <input type="checkbox" name="data.scars" value="reckless">
        <span class="checkmark">reckless</span>
      </label>
      <label>
        <input type="checkbox" name="data.scars" value="soft">
        <span class="checkmark">soft</span>
      </label>
      <label>
        <input type="checkbox" name="data.scars" value="fractious">
        <span class="checkmark">fractious</span>
      </label>
      <label>
        <input type="checkbox" name="data.scars" value="vicious">
        <span class="checkmark">vicious</span>
      </label>
      {{/multiboxes}}
    </div>
    <div id="load-list">
      {{#multiboxes data.load}}
      <label>
        <input type="radio" name="data.load" value="3">
        <span class="checkmark">light</span>
      </label>
      <label>
        <input type="radio" name="data.load" value="5">
        <span class="checkmark">medium</span>
      </label>
      <label>
        <input type="radio" name="data.load" value="6">
        <span class="checkmark">heavy</span>
      </label>
      {{/multiboxes}}
    </div>

  </div>

  {{!-- Harm, Healing and Armor --}}
  <section id="harm-armor">
    <div id="character-harm">
      <h2 class="black-white">Harm</h2>
      <div class="harm-row">
        <h3>3</h3>
        <div class="harm-inputs">
          {{#each data.harm.heavy}}
            <input type="text" class="harm-input" name="data.harm.heavy[{{@index}}]" value="{{this}}">
          {{/each}}
        </div>
        <p>Need Help</p>
      </div>
      <div class="harm-row">
        <h3>2</h3>
        <div class="harm-inputs">
          {{#each data.harm.medium}}
            <input type="text" class="harm-input" name="data.harm.medium[{{@index}}]" value="{{this}}">
          {{/each}}
        </div>
        <p>-1D</p>
      </div>
      <div class="harm-row">
        <h3>1</h3>
        <div class="harm-inputs">
          {{#each data.harm.light}}
            <input type="text" class="harm-input" name="data.harm.light[{{@index}}]" value="{{this}}">
          {{/each}}
        </div>
        <p>Less Effect</p>
      </div>
    </div>
    <div id="character-healing">
      <h2 class="black-white">Healing</h2>
      {{#multiboxes data.[healing-clock]}}
      <div id="character-health-clock">
        <input type="radio" value="0" id="character-healing-clock-0" name="data.healing-clock" checked="checked">
        <input type="radio" value="1" id="character-healing-clock-1" name="data.healing-clock">
        <label for="character-healing-clock-1"></label>
        <input type="radio" value="2" id="character-healing-clock-2" name="data.healing-clock">
        <label for="character-healing-clock-2"></label>
        <input type="radio" value="3" id="character-healing-clock-3" name="data.healing-clock">
        <label for="character-healing-clock-3"></label>
        <input type="radio" value="4" id="character-healing-clock-4" name="data.healing-clock">
        <label for="character-healing-clock-4"></label>
        {{/multiboxes}}
      </div>
    </div>
    <div id="character-armor">
      <h2 class="black-white">Armor</h2>
      <div>
        <label for="armor-uses-armor">Armor</label>
        <input id="armor-uses-armor" type="checkbox" name="data.armor-uses.armor" {{checked data.armor-uses.armor}}>
      </div>
      <div>
        <label for="armor-uses-heavy">Heavy</label>
        <input id="armor-uses-heavy" type="checkbox" name="data.armor-uses.heavy" {{checked data.armor-uses.heavy}}>
      </div>
      <div>
        <label for="armor-uses-spark">Spark</label>
        <input id="armor-uses-spark" type="checkbox" name="data.armor-uses.spark" {{checked data.armor-uses.spark}}>
      </div>
    </div>
  </section>




  {{!-- Attributes --}}
  <section class="flex-horizontal">

    <div class="tab-content flex-vertical grow-two">

      {{!-- Nav menu --}}
      <nav class="tabs flex-horizontal">
        <a class="item" data-tab="abilities">Abilities</a>
        <a class="item" data-tab="loadout">Loadout</a>
        <a class="item" data-tab="character-notes">Notes</a>
        <a class="item" data-tab="all-character-items">All Items</a>
      </nav>

      <div id="abilities" class="tab flex-vertical" data-tab="abilities">
        <div class="label-stripe">
          <p><label for="character-experience-0">Abilities</label></p>
          <p><a class="item-add-popup" data-item-type="ability"><i class="fas fa-plus-square"></i></a></p>
          <div id="character-experience" class="teeth-experience">
            {{#multiboxes data.experience}}
            <input type="radio" id="character-experience-0" name="data.experience" value="0" dtype="Radio">
            <input type="radio" id="character-experience-1" name="data.experience" value="1" dtype="Radio">
            <label for="character-experience-1"></label>
            <input type="radio" id="character-experience-2" name="data.experience" value="2" dtype="Radio">
            <label for="character-experience-2"></label>
            <input type="radio" id="character-experience-3" name="data.experience" value="3" dtype="Radio">
            <label for="character-experience-3"></label>
            <input type="radio" id="character-experience-4" name="data.experience" value="4" dtype="Radio">
            <label for="character-experience-4"></label>
            <input type="radio" id="character-experience-5" name="data.experience" value="5" dtype="Radio">
            <label for="character-experience-5"></label>
            <input type="radio" id="character-experience-6" name="data.experience" value="6" dtype="Radio">
            <label for="character-experience-6"></label>
            <input type="radio" id="character-experience-7" name="data.experience" value="7" dtype="Radio">
            <label for="character-experience-7"></label>
            <input type="radio" id="character-experience-8" name="data.experience" value="8" dtype="Radio">
            <label for="character-experience-8"></label>
            <input type="radio" id="character-experience-9" name="data.experience" value="9" dtype="Radio">
            <label for="character-experience-9"></label>
            {{/multiboxes}}
          </div>
        </div>

        <div id="abilities-list">
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "ability")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal">
                <b><div class="item-name">{{item.name}}</div></b>
                <div class="item-description">{{item.data.description}}</div>
              </div>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="ability">Add Ability</a></div>
        </div>
      </div>

      {{!-- Owned Items Tab --}}
      <div id="loadout" class="tab flex-vertical" data-tab="loadout">
        <div class="label-stripe flex-horizontal">
          <p>Loadout: {{data.loadout}}</p>
          <p><a class="item-add-popup" data-item-type="item"><i class="fas fa-plus-square"></i></a></p>
        </div>
        <div>
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "item")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                <div class="item-name">{{item.name}}</div>
                <div class="item-description">{{item.data.description}}</div>
              </div>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="item">Add Item</a></div>
        </div>
      </div>

      <div class="tab flex-vertical" data-tab="character-notes">
        <div class="label-stripe">
          <p>Notes</p>
        </div>
        <textarea rows="13" name="data.description">{{{data.description}}}</textarea>
      </div>

      {{!-- Full Item List --}}
      <div class="tab grow-two flex-vertical" data-tab="all-character-items">
        <div class="label-stripe">
          <p><label>All Items</label></p>
        </div>
        {{#each actor.items as |item id|}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
            <div class="item-name">{{item.name}}</div>
          </div>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/each}}
      </div>

    </div>
    {{!-- Attributes --}}
    {{> "systems/beam-saber/templates/parts/attributes.html"}}
  </section>

</form>
