<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <section class="flex-horizontal">

    <div id="name-alias" class="grow-two flex-column">
      <div id="name">
        <label for="crew-name">Name</label>
        <input type="text" id="crew-name" name="name" value="{{actor.name}}">
      </div>

      <div class="flex-vertical">
        <div class="item-class-label">
          <a class="item-add-popup" data-distinct="true" data-item-type="crew_reputation">Crew Reputation</a>
        </div>
        {{#each actor.items as |item id|}}
        {{#if (eq item.type "crew_reputation")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body item-sheet-open flex-horizontal">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              <div class="item-name">{{item.name}}</div>
            </div>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        {{/if}}
        {{/each}}
      </div>
    </div>

    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

    <div class="grow-two flex-vertical">
      <div id="lair">
        <label for="crew-lair">Lair</label>
        <input type="text" id="crew-lair" name="data.lair" value="{{data.lair}}">
      </div>


      <div class="flex-horizontal">

        <div id="crew-hold" class="flex-horizontal">
          <div class="black-label">Hold</div>
          {{#multiboxes data.hold}}
          <div class="flex-horizontal">
            <div class="gray-label">Weak</div>
            <input id="crew-hold-weak" type="radio" name="data.hold" value="weak">
            <label for="crew-hold-weak"></label>
          </div>
          <div class="flex-horizontal">
            <div class="gray-label">Strong</div>
            <input id="crew-hold-strong" type="radio" name="data.hold" value="strong">
            <label for="crew-hold-strong"></label>
          </div>
          {{/multiboxes}}
        </div>

        <div id="crew-tier">
          {{#multiboxes data.tier}}
          <input id="crew-tier-0" type="radio" name="data.tier" value="0">
          <label for="crew-tier-0" class="black-label">Tier</label>
          <input id="crew-tier-1" type="radio" name="data.tier" value="1">
          <label for="crew-tier-1"></label>
          <input id="crew-tier-2" type="radio" name="data.tier" value="2">
          <label for="crew-tier-2"></label>
          <input id="crew-tier-3" type="radio" name="data.tier" value="3">
          <label for="crew-tier-3"></label>
          <input id="crew-tier-4" type="radio" name="data.tier" value="4">
          <label for="crew-tier-4"></label>
          {{/multiboxes}}
        </div>
      </div>

    </div>
  </section>


  <section class="flex-horizontal">
    <div id="crew-reputation">
      {{#multiboxes data.reputation}}
      {{#repturf data.turfs_amount}}
      <input type="radio" id="crew-reputation-0" name="data.reputation" value="0" dtype="Radio">
      <label class="black-label" for="crew-reputation-0">Rep</label>
      <input type="radio" id="crew-reputation-1" name="data.reputation" value="1" dtype="Radio">
      <label for="crew-reputation-1"></label>
      <input type="radio" id="crew-reputation-2" name="data.reputation" value="2" dtype="Radio">
      <label for="crew-reputation-2"></label>
      <input type="radio" id="crew-reputation-3" name="data.reputation" value="3" dtype="Radio">
      <label for="crew-reputation-3"></label>
      <input type="radio" id="crew-reputation-4" name="data.reputation" value="4" dtype="Radio">
      <label for="crew-reputation-4"></label>
      <input type="radio" id="crew-reputation-5" name="data.reputation" value="5" dtype="Radio">
      <label for="crew-reputation-5"></label>
      <input type="radio" id="crew-reputation-6" name="data.reputation" value="6" dtype="Radio">
      <label for="crew-reputation-6"></label>
      <input type="radio" id="crew-reputation-7" name="data.reputation" value="7" dtype="Radio">
      <label for="crew-reputation-7"></label>
      <input type="radio" id="crew-reputation-8" name="data.reputation" value="8" dtype="Radio">
      <label for="crew-reputation-8"></label>
      <input type="radio" id="crew-reputation-9" name="data.reputation" value="9" dtype="Radio" >
      <label for="crew-reputation-9"></label>
      <input type="radio" id="crew-reputation-10" name="data.reputation" value="10" dtype="Radio" >
      <label for="crew-reputation-10"></label>
      <input type="radio" id="crew-reputation-11" name="data.reputation" value="11" dtype="Radio" >
      <label for="crew-reputation-11"></label>
      <input type="radio" id="crew-reputation-12" name="data.reputation" value="12" dtype="Radio" >
      <label for="crew-reputation-12"></label>
      {{/repturf}}
      {{/multiboxes}}
      <div class="gray-label">Turf</div>
    </div>
  </section>

  <section class="flex-horizontal">

    <div class="flex-vertical">

      <div id="crew-class" class="class-name">
        {{#each actor.items as |item id|}}
        {{#if (eq item.type "crew_type")}}
        <div class="big-name">{{item.name}}</div>
        <div class="big-description">{{item.data.description}}</div>
        {{/if}}
        {{/each}}
      </div>
      <nav class="tabs flex-horizontal">
        <a class="item" data-tab="turfs">Turfs</a>
        <a class="item" data-tab="upgrades">Upgrades</a>
        <a class="item" data-tab="abilities">Abilities</a>
        <a class="item" data-tab="cohorts">Cohorts</a>
        <a class="item" data-tab="notes">Notes</a>
        <a class="item" data-tab="all-items">All Items</a>
      </nav>
    </div>


    {{!-- Crew XP --}}
    <div class="flex-fertical">
      <div class="big-teeth-section">
        <div class="big-teeth">
          <label class="black-label" for="crew-experience-0">Crew XP</label>
          {{#multiboxes data.experience}}
          <input type="radio" id="crew-experience-0" name="data.experience" value="0" dtype="Radio">
          {{#crew_experience}}{{/crew_experience}}
          {{/multiboxes}}
        </div>
      </div>
      <div class="experience-clues-container">
        <div class="experience-clues-description">At the end of each session, for each item below, mark 1 xp (or instead mark 2xp if that item occurred multiple times).</div>
        <div class="experience-clues">
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "crew_type")}}
          {{html text=item.data.experience_clues}}
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>

  </section>

  {{!-- Tabs --}}
  <section class="tab-content">

    {{!-- Turfs --}}


    {{!-- Crew Upgrades --}}
    <div id="crew-upgrades" class="tab grow-two flex-vertical" data-tab="upgrades">
      <div class="label-stripe flex-horizontal">
        <p>Crew Upgrades</p>
        <p><a class="item-add-popup" data-item-type="crew_upgrade"><i class="fas fa-plus-square"></i></a></p>
      </div>
      {{#each actor.items as |item id|}}
      {{#if (eq item.type "crew_upgrade")}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <b><div class="item-name">{{item.name}}</div></b>
            <div class="item-description">{{item.data.description}}</div>
          </div>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      {{/if}}
      {{/each}}
    </div>

    {{!-- Crew Abilities --}}
    <div id="crew-abilities" class="tab grow-two flex-vertical" data-tab="abilities">
      <div class="label-stripe flex-horizontal">
        <p>Special Abilities</p>
        <p><a class="item-add-popup" data-item-type="crew_ability"><i class="fas fa-plus-square"></i></a></p>
      </div>
      {{#each actor.items as |item id|}}
      {{#if (eq item.type "crew_ability")}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <b><div class="item-name">{{item.name}}</div></b>
            <div class="item-description">{{item.data.description}}</div>
          </div>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      {{/if}}
      {{/each}}
    </div>

    {{!-- Cohorts --}}
    <div id="crew-cohorts" class="tab grow-two flex-vertical" data-tab="cohorts">
      <div class="label-stripe flex-horizontal">
        <p>Cohorts</p>
        <p><a class="add-item" data-item-type="cohort"><i class="fas fa-plus-square"></i></a></p>
      </div>
      <div class="cohorts flex-horizontal">
        {{#each actor.items as |item id|}}
          {{#if (eq item.type "cohort")}}

            {{> "systems/beam-saber/templates/parts/cohort-block.html" item=item}}

          {{/if}}
        {{/each}}
      </div>
    </div>

    {{!-- Notes --}}
    <div id="notes" class="tab grow-two flex-vertical" data-tab="notes">
      <div class="label-stripe">
        <p>Notes</p>
      </div>
      <textarea rows="15" name="data.description">{{{data.description}}}</textarea>
    </div>

    {{!-- Full Item List --}}
    <div class="tab grow-two flex-vertical" data-tab="all-items">
      <div class="label-stripe">
        <p><label>All Items</label></p>
      </div>
      {{#each actor.items as |item id|}}
      <div class="item flex-horizontal" data-item-id="{{item._id}}">
        <div class="item-body item-sheet-open flex-horizontal">
          <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
          <div class="item-name">{{item.name}}</div>
        </div>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
      {{/each}}
    </div>

  </section>


</form>
